@import '../../styles/variables';
@import '../../styles/mixins';

.checkout-form {
    width: 40%;
    padding: 1.75rem;
    background: $color-primary-1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .controls {
        display: grid;
        row-gap: 1rem;
    }

    label {
        color: $color-white-1;
        font-size: 1rem;
        font-family: $ff-primary;
    }

    input {
        width: 66.33%;
        border-radius: 15.23px;
        border: none;
        padding: 0.25rem 0.75rem;
        background: $color-primary-2;
        color: $color-white-1;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;

        .form-btn {
            @include transition-pointer($transition);
            width: 9.25rem;
            font-size: 1.2rem;
            font-weight: bold;
            background: $color-green-1;
            border-radius: 7px;
            border: none;
            color: $color-white-1;
            padding: 0.25rem;

            &:hover {
                background: $color-green-2;
            }

        }
    }

}